*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pointer {
  cursor: pointer;
}


.head {
    background: #fc0;
    height: 100px;
    position: relative;
    width: 100px;
    border-radius: 50%;
  }
  .face {
    font-family: 'courier new', serif;
    font-size: 2.5em;
    font-weight: bold;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -60%) rotate(90deg);
  }